<div class="row mt-5">
  <aside class="col-sm-3">
    <div class="card border border-secondary">
      <div class="card-header">
        <h3 class="card-title text-center"><%= @user.name %></h3>
      </div>
      <div class="card-body text-center">
        <img class="rounded-circle img-fluid border border-secondary" src="<%= gravatar_url(@user, { size: 200 }) %>" alt="ユーザ画像">
      </div>
    </div>
  </aside>
  <div class="col-sm-9 text-center">
    <ul class="nav nav-tabs nav-justified mb-3">
      <li class="nav-item"><a href="<%= user_path(@user) %>" class="nav-link text-dark <%= 'active' if current_page?(user_path(@user)) %>">投稿一覧</a></li>
      <li class="nav-item"><a href="#" class="nav-link text-dark">いいねした投稿</a></li>
      <li class="nav-item"><a href="<%= followings_user_path(@user) %>" class="nav-link text-dark <%= 'active' if current_page?(followings_user_path(@user)) %>">フォロー</a></li>
      <li class="nav-item"><a href="<%= followers_user_path(@user) %>" class="nav-link text-dark <%= 'active' if current_page?(followers_user_path(@user)) %>">フォロワー</a></li>
    </ul>
    <div class="w-100">
      <ul class="list-inline mt-5 ml-3">
        <% @followings.each do |user| %>
          <li class="media border border-secondary form-inline d-flex align-items-around justify-content-around">
            <img class="m-2 rounded-circle border" src="<%= gravatar_url(user, { size: 50 }) %>" alt="">
            <h3 class="pt-3"><%= user.name %></h3>
            <%= render 'relationships/follow_button', user: user %>
          </li>
        <% end %>
      </ul>
      <div class="mt-5"><%= paginate @followings %></div>
    </div>
  </div>
</div>