<div class="row mt-5">
  <aside class="col-sm-3">
    <div class="card border border-secondary">
      <div class="card-header">
        <h3 class="card-title text-center"><%= @user.name %></h3>
      </div>
      <div class="card-body text-center">
        <img class="rounded-circle img-fluid border border-secondary" src="<%= gravatar_url(@user, { size: 200 }) %>" alt="ユーザ画像">
        <%= render 'relationships/follow_button', user: @user %>
      </div>
    </div>
  </aside>
  <div class="col-sm-9 border border-secondary text-center">
    <h1 class="card-title pt-5 pb-4"><%= @post.title %></h1>
    <%= image_tag @post.image.url, :width => '100%', :height => '180' , class: "img-fluid img-thumbnail"%>
    <h1 class="card-title pt-5 pb-5">コーディネートの紹介</h1>
    <h4><%= @post.content %></h4>
  </div>
</div>