<header>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand text-white pl-3" href="/">FRUGIDAYS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <% if logged_in? %>
          <li class="nav-item"><%= link_to "新規投稿", new_post_path , class: "btn btn-outline-light mr-3" %></li>
          <li class="nav-item"><%= link_to 'マイページ', user_path(current_user) , class: 'btn btn-outline-light' %></li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle text-white" data-toggle="dropdown"></a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li class="dropdown-item"><%= link_to "投稿一覧", user_path(current_user), class: "text-dark" %></li>
              <li class="dropdown-divider"></li>
              <li class="dropdown-item"><%= link_to "お気に入りした投稿", likes_user_path(current_user), class: "text-dark" %></li>
              <li class="dropdown-divider"></li>
              <li class="dropdown-item"><%= link_to "フォロー", followings_user_path(current_user), class: "text-dark" %></li>
              <li class="dropdown-divider"></li>
              <li class="dropdown-item"><%= link_to "フォロワー", followers_user_path(current_user), class: "text-dark" %></li>
              <li class="dropdown-divider"></li>
              <li class="dropdown-item"><%= link_to 'ログアウト', logout_path, method: :delete, class: "text-dark" %></li>
            </ul>
          </li>
        <% else %>
        　<li class="nav-item"><%= link_to "新規アカウント登録", signup_path, class: "btn btn-outline-light mr-2" %></li>
        　<li class="nav-item"><%= link_to "ログイン", login_path, class: "btn btn-outline-light mr-3" %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>